#header div.birdy{
	background:transparent;
}

.message .inner .time{
	visibility:collapse;
}

.message .inner:hover .time{
	width:62px;
	margin:0;
	padding:0;
	position:absolute;
	top:0em;
	right:-25px;
	overflow:hidden;
	background:transparent;
	visibility:visible;
}

.message .inner .text{
	margin:0 0px 0 34px;
	padding:0;
	overflow:auto;
	border:0;
}

.message .inner:hover .text{
	margin:0 62px 0 34px;
	padding:0;
	overflow:auto;
	border:0;
}