#header,
#header div.inner,
#header div.birdy{
	width:100%;
	height:16px;
	background:transparent;
}

img.bar{
	width:100% !important;
	height:16px;
	position:absolute;
	top:0;
	right:0;
	left:0;
}

#header h1{
	display:none;
}